<!doctype html>
<html>
<head>
	<h1>Workout Tracker</h1>
	<title>Workout Tracker</title>
	{{!<!-link rel="stylesheet" href="/css/main.css"/-->}}
</head>
<body>
	{{{body}}}

</body>
</html>

{{!<script src="/js/addWorkout.js"></script>}}
{{!<!-script src="/js/jquery.min.js"></script>}}
{{!<script src="/js/skel.min.js"></script>}}
{{!<script src="/js/util.js"></script>}}
{{!<script src="/js/main.js"></script-->}}

